<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lit.mapper.OrderMapper">
    <select id="queryOrder" resultType="cn.lit.domain.Order">
        select * from t_order where order_id = #{orderId};
    </select>
</mapper>